<ion-view title="Signup" id="page6" class=" ">
    <ion-content padding="true" scroll="false" class="has-header content-stable">
        <form ng-submit="vm.signup()">
                <div class="list">
                    <div class="row">
                        <div class="col">
                            <label class="item item-input">
                                <input id="email" name="email" type="email" placeholder="Your email"
                                       ng-model="vm.email">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="item item-input">
                                <input id="firstname" name="firstname" type="text" placeholder="Your first name"
                                       ng-model="vm.firstName">
                            </label>
                        </div>
                        <div class="col">
                            <label class="item item-input">
                                <input id="username" name="lastname" type="text" placeholder="Your last name"
                                       ng-model="vm.lastName">
                            </label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <label class="item item-input">
                                <input id="password" name="password" type="password" placeholder="Your password"
                                       ng-model="vm.password">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <label class="item item-input">
                                <input id="again" name="again" type="password" placeholder="confirm your password"
                                       ng-model="vm.again">
                            </label>
                        </div>
                    </div>

                    <div class="">
                        <button class="button button-block button-energized" type="submit">
                            SignUp
                        </button>
                    </div>
                </div>
            </form>
    </ion-content>
</ion-view>